.background-container {
  position: relative;
  min-height: 100vh;
}

.background-container::before {
  content: "";
  background-image: url("../assets/skyscraper_bg.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 6vw;
  color: white;
}

.select-dates {
  color: white;
  font-size: 4vw;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.preferences {
  margin-top: 10vh;
  margin-bottom: 5vh;
  text-align: center;
}

.pref-title {
  font-size: 4vw;
  font-weight: 400;
  margin: 5vh;
}

.preference-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preference-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.pref-button {
  background-color: transparent;
  border: 2px solid #4285f4;
  border-radius: 20px;
  margin: 10px;
  white-space: nowrap;
}

.addpref-btn {
  color: white;
  background-color: #7f9cc6;
  cursor: pointer;
  margin-top: 2vh;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.generate-button {
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
}

.date-range-picker {
  display: flex;
  justify-content: center;
}

.date-input {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.date-input label {
  margin-bottom: 5px;
  font-size: 20px;
  color: white;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 10px;
  border: 1px solid #f44336;
  background-color: #ffebee;
  color: #f44336;
}

.error-message {
  margin: 5px;
  font-size: 16px;
  text-align: center;
}
