.shadow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.sign-in-container {
    padding: 5%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}

.form-control {
    width: 100%;
    display: block;
    margin: 10px auto;
}

.login-title {
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    margin-bottom: 4vh;
}

.login-button {
    border-radius: 10px;
    padding: 8px;
    border: none;
    margin-top: 3vh;
    background-color: #4285F4;
    color: white;
    display: block;
    margin: 10px auto;
}